<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">
        Sistema de Gerenciamento de Tarefas
      </h1>

      <p class="lead text-center">
        Bem-vindo ao Sistema de gerenciamento de tarefas!
        Este Sistema foi projetado para ajudá-lo a organizar suas tarefas de forma eficiente e fácil

      </p>
      <p class="text-center">
      Com esse sistema você pode
      </p>
      <ul class="list-group">
        <li class="list-group-item">Adicionar novas tarefas.
        </li>
        <li class="list-group-item">Visualizar tarefas existentes.
        </li>
        <li class="list-group-item">Atualizar tarefas.
        </li>
        <li class="list-group-item">Excluir tarefas.
        </li>
      </ul>
      <p class="text-center mt-4">
        Liam Lawson vai amanhececer com sapato de concreto
      </p>

    </div>

  </div>


</div>
